app-termin {
  width: 20em;
  margin: auto;
}

.xl {
  background: #00f;
}

.lg {
  background: cyan;
}

.md {
  background: #ddd;
}

.sm {
  background: #0f0;
  width: 100vw;
}

.xs {
  background: #f00;
}


