<mat-form-field>
  <input matInput [(ngModel)]="time" [format]="24" [ngxTimepicker]="picker">
  <ngx-material-timepicker-toggle matSuffix [for]="picker"></ngx-material-timepicker-toggle>
  <ngx-material-timepicker #picker></ngx-material-timepicker>
</mat-form-field>
<mat-form-field>
  <input matInput [(ngModel)]="date" [matDatepicker]="creationDate" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="creationDate"></mat-datepicker-toggle>
  <mat-datepicker #creationDate></mat-datepicker>
</mat-form-field>
<button (click)="logTime()">Test</button>

